.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}

button {
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    /* background: #b6d0d7; */
    background: #d6e8f4;
    border: 3px solid #d6e8f4;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    background-color: #d6e8f4;
    padding: 10px;
}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    padding: 10px;
}




